<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>{$confres['sedname']}</title>
<meta name="description" content="{$confres['keywords']}" />
<meta name="keywords" content="{$confres['keywords']}" />
<link rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/static/index/style/style.css" />
    <script type="text/javascript" src="__PUBLIC__/static/index/style/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/index/style/jquery.js"></script>
    <script src="__PUBLIC__/static/index/style/jquery.error.js" type="text/javascript"></script>
    <script src="__PUBLIC__/static/index/style/jtemplates.js" type="text/javascript"></script>
    <script src="__PUBLIC__/static/index/style/jquery.form.js" type="text/javascript"></script>
    <script src="__PUBLIC__/static/index/style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/static/index/style/wp-sns-share.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/index/style/voterajax.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/index/style/userregister.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/pagenavi-css.css" type="text/css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/voteitup.css" type="text/css" />
<script type="text/javascript">
    function IFocuse(th, o) {
        var t = $(th);
        var c = t.attr("class");
        if (o) {
            t.removeClass(c).addClass(c+"-over");
        }
        else {
            t.removeClass(c).addClass(c.replace("-over",""));
        }
    }
</script>
</head>
<body class="xh_body">
<script src="__PUBLIC__/static/index/style/common.js" type="text/javascript"></script>
 <script>
 function subForm()
 {

 formsearch.submit();
 //form1为form的id
 }
 </script>
<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 
{include file="public/top" /}
<div id="xh_wrapper">
       
<input type="hidden" id="hdUrlFocus" />
    <div class="xh_h_show">
        <div class="xh_h_show_in">
        <div id="zSlider">
            <div id="picshow">
        <div id="picshow_img">
                <ul>
                    {volist name="recArts" id="recArt"}
                    <li style="display: list-item;"><a href="{:url('article/index',array('articleid'=>$recArt['id']))}" target="_blank">
                        <img src="__PUBLIC__{$recArt.pic}" alt="{$recArt.title}"></a></li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div id="select_btn">
            <ul>
                <li class="current"></li><li class=""></li><li class=""></li><li class=""></li>
            </ul>
                </div>
            <div class="focus-bg-title">
                <div id="focus-left" class="arrow-left" onmouseover="IFocuse(this,true)" onmouseout="IFocuse(this,false)"></div>
                <div id="focus-center" class="focus-title">
                <div style="float:left;width:580px;padding-left:10px;font-size:18px;" id="focus-tl-s"></div>
                <div style="float:right;width:200px;"></div>
                </div>
                <div id="focus-right" class="arrow-right"></div></div>
            </div>
            <div id="picshow_right" style="border:1px solid #ccc;">
                <a href="javascript:void(0);" target="_blank">
                <img src="__PUBLIC__/static/index/images/bg-left.png" alt="广告栏" width="255px" height="420px" ></a>
       
                <div id="picshow_right_cover" style="cursor:pointer;position:absolute;top:495px;font-size:14px;width:213px;height:45px;line-height:45px;padding-left:42px;color:#ffffff;zoom:1;background-image:url(__PUBLIC__/static/index/images/focus-left-bg.png); background-repeat:no-repeat; background-color:#01A1ED;"></div>
            </div>
        </div>
    </div>
    <div id="xh_container">
    <a name="new"></a>
        <div id="xh_content" style="padding-right:10px;">
            <div class="xh_area_h_3">
                <div class="xh_area_title">
                    <a href="javascript:void(0);" class="t">New 最近更新</a> 
                    <span class="r">
                    {volist name="recIndex" id="recIndex"}
                    <a target="_blank" href='
                        {if condition="$recIndex['type'] eq 1"}{:url('Artlist/index',array('cateid'=>$recIndex['id']))}{/if}
                        {if condition="$recIndex['type'] eq 2"}{:url('Page/index',array('cateid'=>$recIndex['id']))}{/if}
                        {if condition="$recIndex['type'] eq 3"}{:url('Imglist/index',array('cateid'=>$recIndex['id']))}{/if}
                    '>{$recIndex.cate_name}</a>
                    {/volist}
                     </span>
                </div>
                <br>
                
    {volist name="articleRes" id="article"}           
    <div class="xh_post_h_3 ofh">
            {if condition="$article['pic'] neq ''"}
            <div class="xh_265x265">
                <a target="_blank" href="{:url('article/index',array('articleid'=>$article.id))}" title="{$article.title}">
                    <img src="__PUBLIC__{$article.pic}" alt="{$article.title}" height="240" width="400"></a></div>
            {/if}
            <div class="{if condition="$article['pic'] neq ''"} r {else /} l {/if} ofh">
                <h2 class="xh_post_h_3_title ofh">
                    <a target="_blank" href="{:url('article/index',array('articleid'=>$article.id))}" title="{$article.title}">{$article.title}</a>
                </h2>
                <span class="time">{$article.creat_time|date="Y年m月d日",###}</span>
                <div class="xh_post_h_3_entry ofh">{$article.desc}</div>
                <div {if condition="$article['pic'] eq ''"} style="width:100%;float:right;"{/if}  class="b">
                     <span title="0人赞" class="xh_love"><span class="textcontainer"><span>{$article.zan}</span></span> <span class="bartext"></span></span> <span title="{$article.click}人浏览" class="xh_views">{$article.click}</span>
                </div>
            </div>
            {if condition="$article['pic'] neq ''"}
            <span class="cat"><a href="javascript:void(0);" title="查看 单车生活 中的全部文章"
                rel="category tag">{$article.cate_name}</a></span>
            {/if}
            </div>
        {/volist}
    
         </div>
     </div>
        <div id="xh_sidebar">

         <div class="widget">

        <div style="background: url('__PUBLIC__/static/index/images/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
        </div>
    <ul id="ulHot">

        {volist name="articles" id="articles"}
        <li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
        <div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="{:url('article/index',array('articleid'=>$articles.id))}" target="_blank"><img src="__PUBLIC__{$articles.pic}" width="83" title="{$articles.title}" /></a></div>
        <div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="{:url('article/index',array('articleid'=>$articles.id))}" target="_blank" title="{$articles.title}">{$articles.title}</a></div>
        </li>
        {/volist}


    </ul>
                </div>
            
            <div class="widget portrait">
    <div>
    </div>
</div>
            <div class="widget links">
                <h3>
                    友情链接</h3>
                <ul>
                {volist name="links" id="link"}
                <li><a href="<?php if(strpos($link['url'],'http://')!==0){echo 'http://'.$link['url'];}else{echo $link['url'];} ?>" target='_blank'>{$link.title}</a> </li>
                {/volist}
                </ul>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
    <input type="hidden" id="hdBoxbor" />
    <script type="text/javascript">

        $("#next-page").hover(function () { $(this).attr("src", "__PUBLIC__/static/index/style/images/next02.png"); }, function () { $(this).attr("src", "__PUBLIC__/static/index/style/images/next01.png"); });
        $("#last-page").hover(function () { $(this).attr("src", "__PUBLIC__/static/index/style/images/last02.png"); }, function () { $(this).attr("src", "__PUBLIC__/static/index/style/images/last01.png"); });

        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
            });
            function IBoxBor() {
                window.open($("#hdBoxbor").val());
            }
            function goanewurl() {
                window.open($("#hdUrlFocus").val());
            }
</script>

    </div>
<div class="sitemap">
    <h4>
        SITE MAP</h4>
    <div class="l">
        <ul id="menu-sitemap" class="menu">
        {volist name="cateres" id="cate"}
            <li><a {if condition="$cate['children'] neq ''"} class="havechild" {/if} 
        href="{if condition="$cate['type'] eq 1"}{:url('Artlist/index',array('cateid'=>$cate['id']))}
        {elseif condition="$cate['type'] eq 2" /}{:url('Page/index',array('cateid'=>$cate['id']))}
        {elseif condition="$cate['type'] eq 3" /}{:url('Imglist/index',array('cateid'=>$cate['id']))}{/if}">
  
  <!--本地测试链接地址 href="http://127.0.0.1/bick/public/index.php/index/{if condition="$cate['type'] eq 1"}Artlist{elseif condition="$cate['type'] eq 2"}Page{else condition="$cate['type'] eq 3"}Imglist{/if}/index/cateid/{$cate['id']}" -->

        {$cate.cate_name}</a>
        {if condition="$cate['children'] neq ''"}
     <ul>
    <?php foreach($cate['children'] as $key => $value):?>
    <li>  
        <a href="{if condition="$value['type'] eq 1"}{:url('Artlist/index',array('cateid'=>$value['id']))}
        {elseif condition="$value['type'] eq 2" /}{:url('Page/index',array('cateid'=>$value['id']))}
        {elseif condition="$value['type'] eq 3" /}{:url('Imglist/index',array('cateid'=>$value['id']))}{/if}">
        {$value['cate_name']}</a></li>
    <?php endforeach;?>
    </ul>
        {/if}
    </li>
    {/volist}
      </ul>
    </div>
    <div class="r">
        <h5>
            联系我：</h5>
        
                        <img src="__PUBLIC__/static/index/images/weixin1.png" alt="" title="联系我" class="alignnone size-full wp-image-18966"
                            height="140" width="120"></a></div>
</div>
{include file="public/footer" /}
<div style="display: none;" id="scroll">
</div>
  
<script type="text/javascript" src="__PUBLIC__/static/index/style/z700bike_global.js"></script>
</body>
</html>
<html>
<script>document.getElementById("life"+"").style.display="n"+"o"+"ne";</script>